@inherits AppComponentBase;

@inject IAppLoaderService _appLoaderService

@if (_hasExistingLoader)
{
    <div class="app-loader">
        <div class="app-loader_rotator"><div></div><div></div><div></div><div></div></div>
    </div>
}

@code {
    private bool _hasExistingLoader = true;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _hasExistingLoader = _appLoaderService.HasLoaders;
        
        _appLoaderService.LoadersChanged += OnLoadersChanged;
    }

    private void OnLoadersChanged()
    {
        _hasExistingLoader = _appLoaderService.HasLoaders;

        UpdateView();
    }

    public override void DisposeComponent()
    {
        _appLoaderService.LoadersChanged -= OnLoadersChanged;
    }
}